@import url("../styles/global.css");

main {
    width: 100vw;
    height: 100vh;
    display: flex;   
}

section {
    width: 49.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container > p {
    display: none; /* removido o texto "Enter your credentials" */
}

h1 {
    font-size: 32px;
    font-weight: 500;
    color: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
}

.checkbox {
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}
.checkbox > label {
    font-size: 11px;
}

img {
    width: 50.8%;
    object-fit: cover;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

input[type="password"],
input[type="email"],
input[type="text"] {
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 9px 10px;
}

input::placeholder {
    font-size: 11px;
    font-weight: 500;
    color: var(--gray);
}

a {
    font-size: 12px;
    font-weight: 500;
    color: var(--blue);
}

form button {
    background-color: var(--green);
    height: 35.4px;
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

form button:hover {
    opacity: 0.9;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 34px;
    gap: 6px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--border-gray);
}

.divider > p {
    font-size: 11px;
    color: var(--black);
    font-weight: 500;
}

.sso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 34px;
}

.sso-container img {
    width: 20px;
    height: 20px;
}

.sso-container button {
    height: 32px;
    gap: 8px;
    padding: 4px 20px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.redirect-signup {
    font-size: 13px;
    color: var(--black);
    justify-self: center;
    margin-top: 18px;
}

.redirect-signup > a {
    font-size: 13px;
    color: var(--blue);
}
